<nav>
    <div class="site-title">
        <a href=""> <h1>Blog Bro</h1></a>
        <p>Um site para Bros</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">Sobre</a></li>
        <li><a href="/create">Novo Blog</a></li>
    </ul>
</nav>
