<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>


    <div class="about content">
        <h2>Sobre nós</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum, repudiandae mollitia! Fugit, vel non ducimus porro quibusdam, cum optio voluptatem reiciendis odio, assumenda tempora! Molestias quos libero illo beatae fuga!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum, repudiandae mollitia! Fugit, vel non ducimus porro quibusdam, cum optio voluptatem reiciendis odio, assumenda tempora! Molestias quos libero illo beatae fuga!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum, repudiandae mollitia! Fugit, vel non ducimus porro quibusdam, cum optio voluptatem reiciendis odio, assumenda tempora! Molestias quos libero illo beatae fuga!</p>
    </div>
    <%- include('./partials/footer.ejs')%>

</body>
</html>